body{
    background-color: rgba(57, 57, 61, 0.863);
}


nav{
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    background-color: gray;
    color: aliceblue;
    display: flex;
    height: 8vh;
    padding: 10px;
    justify-content: space-between;
}

main{
    min-height: 100vh;
    padding: 85px 25px 96px;
    box-shadow: 0 0 12px -2px black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: aliceblue;
    background-color: #7d7e81af;
    box-shadow: 0 0 12px -2px black;
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
}

.links{
    display: flex;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;

}

.quote{
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    color: aliceblue;
    font-size: 45px;
    font-weight: 100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-top: 4em;
}

a{
    color: aliceblue;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.aboutHeader{
    font-size: 30px;
}

.aboutSection{
    font-size: 18px;
    border-top: 1px solid #bbb;
}

.aboutImg{
    float: right;
    margin: 0 24px 24px 0px;
    height: 120px
}

.portHeader{
    font-size: 40px;
}

.project{
    /* width: calc(100% - 6em); */
    background: #fafafa;
    color: #222;
    box-shadow: 0 3px 6px -2px #ccc;
    margin: 3vh auto;
    padding: 3vh;
    font-size: 18px;
    border-top: 1px solid #bbb;
}

.portImg{
    float: right;
    margin: 0 24px 24px 0px;
    height: 150px
}